:root {
  --font-color-1: rgb(212, 212, 212);
  --font-color-2: #333;
  --border-color-1: rgb(214, 214, 214);
  --bg-color-1: rgb(15, 43, 53);
  --accent-color: rgb(1, 148, 185);
  --light-background-color: #fff;
  --gutter: 24;
  --add-new-height: 50px;
  
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
